root = true
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{rb,yml,yaml}]
charset = utf-8

[*.rb]
indent_style = tab
indent_size = 2
